<style>
    .servicesText.card {
        height: 150px;
        cursor: pointer;
    }
    .servicesIcon {
        font-size: 36px;
        text-align: center;
        width: 100%;
    }
    .card-title {
        text-align: center;
    }
    .card:hover .servicesIcon {
        color: #008000;
    }
    .servicesText:hover {
        border: 1px solid #008000;
    }
</style>
<section id="services">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Hobbies</div>
        <div id="hobbies" class="row">

        </div>
    </div>
</section>
