<style>
    .checked {
        color: orange;
    }
</style>
<div id="language" class="section">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">{{ 'menu.language'|trans }}</div>
            <div id="languages" class="row">
            </div>
    </div>
</div>
