<style>
    .checked {
        color: orange;
    }
</style>
<div class="section">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Languages</div>
            <div id="languages" class="row">
            </div>
    </div>
</div>
