<h4>KONTAKT</h4>
<br><br>
<h5>E-Mail:</h5>
<h6>{{user.email}}</h6>
<br>
<h5>Telefon:</h5>
<h6>{{ user.profile.phone }}</h6>
<br>
<h5>LinkedIn:</h5>
<h6>https://www.linkedin.com/in/rami-aouinti-78998a59</h6>
<br>
<h5>Github:</h5>
<h6>https://github.com/rami-aouinti</h6>
<br><br>
