<tr>
    <td width="250" height="150" align="center" bgcolor="#cccccc" color="#cccccc">
        <img src="{{ photoUser }}"/>
    </td>
    <td width="470" height="150" align="center" bgcolor="#cccccc" color="#cccccc">
        <br>
        <h1>{{ user.fullName }}</h1>
        <h3>{{ user.profile.title }}</h3>
    </td>
</tr>
