{% extends 'base_admin.html.twig' %}

{% block title %}New Profile{% endblock %}

{% block body %}
    <h1>Create new Profile</h1>

    {{ include('back_office/profile/_form.html.twig') }}

    <a href="{{ path('app_profile_index') }}">back to list</a>
{% endblock %}
