{% extends "base_admin.html.twig" %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-12">
            {% include 'back_office/reference/_form.html.twig' with { form: form, title: "Modifier une référence", action: "Modifier" } %}
        </div>
    </div>
{% endblock %}
