{% extends "base.html.twig" %}

{% block body %}
    <div class="page-content">
        <div>
            {% include 'front_office/sections/profile.html.twig' %}
            {% include 'front_office/sections/about.html.twig' %}
            {% include 'front_office/sections/skill.html.twig' %}
            {% include 'front_office/sections/portfolio.html.twig' %}
            {% include 'front_office/sections/experience.html.twig' %}
            {% include 'front_office/sections/education.html.twig' %}
            {% include 'front_office/sections/language.html.twig' %}
            {% include 'front_office/sections/hobby.html.twig' %}
            {% include 'front_office/sections/contact.html.twig' %}
        </div>
    </div>
{% endblock %}
